@import "../../../styles/variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  button {
    background-color: $primary-background-color;
    border: 1px solid $border-color;
    color: #000;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-hover-color;
    }

    &:disabled {
      background-color: $primary-hover-color;
      cursor: not-allowed;
    }

    &.active {
      background-color: $primary-color;
      color: white;
      border-color: $primary-color;
    }
  }
}
@media (max-width: 768px) {
  .pagination {
    button {
      padding: 0.5rem 0.75rem;
      margin: 0 0.1rem;
    }
  }
    
}