$primary-color: #037353;
$secondary-color: #f4f4f4;
$border-color: #ccc;
$primary-text-color: #333;
$primary-background-color: #ffffff;
$primary-hover-color: #e2e2e2;
$primary-active-color: #038C5A;
$primary-disabled-color: #e0e0e0;
$primary-shadow-color: rgba(0, 0, 0, 0.1);
$error-color: #dc3545;